/* Общие стили для страницы */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #181818;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #9c05b0;
}

iframe {
    width: 80%;
    height: 500px;
    border: none;
    margin-top: 20px;
}

.controls {
    margin-top: 10px;
}

button {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 20px;
}

button:hover {
    background-color: #9c05b0;
}

input {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

img {
    max-width: 50%;
    height: auto;
    margin-top: 20px;
}

/* Контейнер для списка карточек */
.movies-list {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Карточки видео */
.movie-card {
    position: relative;
    border-radius: 10px;
    margin: 10px;
    padding: 15px;
    width: 250px;
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 350px; 
    color: white;
}

/* Превью видео */
.movie-card .video-preview {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    opacity: 0.5; /* Темное наложение */
    border-radius: 10px;
}

/* Текст на карточке */
.movie-card .content {
    position: relative;
    z-index: 1; /* Текст поверх фона */
}

/* Эффект при наведении на карточку */
.movie-card:hover {
    transform: scale(1.05); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
}

.movie-card h3 {
    font-size: 18px;
    margin: 0 0 10px 0;
}

.movie-card p {
    font-size: 14px;
    margin: 5px 0;
}

.movie-card button {
    background-color: #9c05b0;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.movie-card button:hover {
    background-color: #7e0392;
}


.girler {
    width: 200px;  /* Установить картинку шириной 200px */
    height: auto;  /* Сохранить пропорции */
}